<!DOCTYPE html>
<html>
<head>
  <title>ngFx</title>
  <style type="text/css">

    li {
      background-color: blue;
      color: white;
      width: 80px;
      margin-top: 10px;
      text-align: center;
    }
  </style>
</head>
<body ng-app="app">
<section ng-controller="App as vm">
  <input type="" ng-model="vm.search">
  <ul>
    <li class="fx-zoom-normal fx-speed-1000 fx-ease-back fx-stagger-233" ng-repeat="num in vm.nums | filter:vm.search">num {{ ::num }}</li>
  </ul>
</section>
<script src="../node_modules/angular/angular.js"></script>
<script src="../node_modules/angular-animate/angular-animate.min.js"></script>
<script src="../node_modules/lodash/index.js"></script>
<script src="../dist/ngFx.js"></script>
<script>
  angular.module('app', ['ngFx', 'ngAnimate'])
  .controller('App', function($timeout) {
    this.search = '';
    $timeout(function() {
      this.nums = [1,2,3,4,5];
    }.bind(this), 0)
    .then(function(){
      $timeout(function() {
        console.log(this.nums)
        this.nums = _.shuffle(this.nums);
      }.bind(this), 3000)
    }.bind(this))
  });
</script>
</body>
</html>
