@import url(http://fonts.googleapis.com/css?family=Lato:300italic);

body {
  background-color: #ecf0f1;
}
.card {
  background: white;
  width: 30%;
  margin: 0 12px 12px 0 ;
  box-shadow:-1px 1px 3px 1px lightgrey;
  padding: 2%;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
     -mox-box-sizing: border-box;
          box-sizing: border-box;
}

.controls {
  margin-bottom: 10px;
  margin-top: 10px;
}

.search {
  margin-top: 10px;
  font-size: 1.4em;
  background-color: #34495e;
  color: white;
  text-align: center;
}

.search:focus {
  background-color: #3d556e;
}

.erase {
  background-color: #16a085;
  border: none;
  color: white;
}

.erase:hover {
  background-color: #1abc9c;
  color: white;
}

#wrapper {
  padding-left: 250px;
}

.animation-link {
  font-size: 1.2em;
  margin-left: 20px;
  margin-top: 8px;
  cursor: pointer;
}

.animation-link a {
  color: white;
  margin-top: 3px;
}

.animation-link:hover, .animation-link.active {
  background-color: #3d556e;
}

.animation-link a:hover {
  text-decoration: none;
}

.side-bar-header {
  color: white;
  margin-left: 20px;
  border-bottom: 2px white solid;
  font-family: 'Lato', sans-serif;
}

#sidebar-wrapper img {
  margin-left: 20px;
}

.name {
  border-bottom: none;
  border-top: 2px white solid;
  font-family: 'Lato', sans-serif;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #2c3e50;
  position: fixed;
  height: 100%;
  z-index: 1000;
  font-family: 'Lato', sans-serif;
  color: white;
}

#side-bar-scroll {
  overflow-y: auto;
  height: 55%;
}


.sidebar-nav {
  list-style: none;
  cursor: pointer;
}

main {
  margin-right: 20%;
  margin-left: 5%;
}

.main-header {
  font-family: 'Lato', sans-serif;
  padding-bottom: 5px;
}

.selects {
  cursor: pointer;
}

.btn-green, .btn-green:hover {
  background-color: #16a085;
  color: white;
  text-decoration: none;
}
.options1, .options2 {
  border: solid #2c3e50 5px;
  padding: 10px;
}
.options1 {
  border-right: none;
}

.options2 {
  border-left: none;
  width: 95px;
}
