md-sidenav {
  min-height: 100vh;
  max-height: 100vh;
  position: fixed;
}

.main-content {
  background-color: #efefef;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}


md-list-item {
  padding: 0px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;;
  -ms-user-select: none;
}

md-list-item.active {
  background-color: #00B8D4;
}

md-list-item .link {
  width: 100%;
  background-color: transparent;
  text-align: left;
  user-select: none;
}
md-list-item.active .link {
  color: white;
}
.page {
  padding-left: 20px;
}
.code-example {
  height: 100%;
  padding: 15px;
  font-size: 1.2rem;
  overflow-x: auto;
}

.scroll-box {
  overflow-y: auto;
}
.box {
  text-align: center;
  padding: 15px;
  height: 60px;
}
.promotion-footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
}

.home-logo {
  width: 100%;
}
