@keyframes bounceNormalIn {
  0% {
    opacity 0
    transform scale(.3)
  }

  33% {
    opacity 1
    transform scale(1.05)
  }

  66% {
    transform scale(.9)
  }

  100% {
    transform scale(1)
  }

}

@keyframes bounceNormalOut {
  100% {
    opacity 0
    transform scale(.3)
  }

  66% {
    transform scale(1.05)
  }

  33% {
    transform scale(.9)
  }

  0% {
    opacity 1
  }
}
