/**
 * Bounces
 */
// bouce-normal
@keyframes bounceNormalIn {
  0% {
    opacity 0
    transform scale(.3)
  }

  33% {
    opacity 1
    transform scale(1.05)
  }

  66% {
    transform scale(.9)
  }

  100% {
    transform scale(1)
  }

}

@keyframes bounceNormalOut {
  100% {
    opacity 0
    transform scale(.3)
  }

  66% {
    transform scale(1.05)
  }

  33% {
    transform scale(.9)
  }

  0% {
    opacity 1
  }
}

/*******************************************/
// bounce-down
@keyframes bounceDownIn {
  0%, 60%, 75%, 90%, 100% {
    animation-timing-function cubic-bezier(0.215, 0.610, 0.355, 1.000)
  }

  0% {
    opacity 0
    transform translate3d(0, -3000px, 0)
  }

  60% {
    opacity 1
    transform translate3d(0, 25px, 0)
  }

  75% {
    transform translate3d(0, -10px, 0)
  }

  90% {
    transform translate3d(0, 5px, 0)
  }

  100% {
    transform none
  }
}

@keyframes bounceDownOut {
  20% {
    transform translate3d(0, 10px, 0)
  }

  40%, 45% {
    opacity 1
    transform translate3d(0, -20px, 0)
  }

  100% {
    opacity 0
    transform translate3d(0, 2000px, 0)
  }
}
/******************************************/
// bounce-left
@keyframes bounceLeftIn {
  from, 60%, 75%, 90%, 100% {
    animation-timing-function cubic-bezier(0.215, 0.610, 0.355, 1.000)
  }

  0% {
    opacity 0
    transform translate3d(-3000px, 0, 0)
  }

  60% {
    opacity 1
    transform translate3d(25px, 0, 0)
  }

  75% {
    transform translate3d(-10px, 0, 0)
  }

  90% {
    transform translate3d(5px, 0, 0)
  }

  100% {
    transform none
  }
}

@keyframes bounceLeftOut {
  20% {
    opacity 1
    transform translate3d(20px, 0, 0)
  }

  100% {
    opacity 0
    transform translate3d(-2000px, 0, 0)
  }
}
/*****************************************/
// bounce-right
@keyframes bounceRightOut {
  20% {
    opacity 1
    transform translate3d(-20px, 0, 0)
  }

  100% {
    opacity 0
    transform translate3d(2000px, 0, 0)
  }
}

@keyframes bounceRightIn {
  from, 60%, 75%, 90%, 100% {
    animation-timing-function cubic-bezier(0.215, 0.610, 0.355, 1.000)
  }

  from {
    opacity 0
    transform translate3d(3000px, 0, 0)
  }

  60% {
    opacity 1
    transform translate3d(-25px, 0, 0)
  }

  75% {
    transform translate3d(10px, 0, 0)
  }

  90% {
    transform translate3d(-5px, 0, 0)
  }

  100% {
    transform none
  }
}
/*******************************************/
// bounce up
@keyframes bounceUpIn {
  from, 60%, 75%, 90%, 100% {
    animation-timing-function cubic-bezier(0.215, 0.610, 0.355, 1.000)
  }

  from {
    opacity 0
    transform translate3d(0, 3000px, 0)
  }

  60% {
    opacity 1
    transform translate3d(0, -20px, 0)
  }

  75% {
    transform translate3d(0, 10px, 0)
  }

  90% {
    transform translate3d(0, -5px, 0)
  }

  100% {
    transform translate3d(0, 0, 0)
  }
}

@keyframes bounceUpOut {
  20% {
    transform translate3d(0, -10px, 0)
  }

  40%, 45% {
    opacity 1
    transform translate3d(0, 20px, 0)
  }

  100% {
    opacity 0
    transform translate3d(0, -2000px, 0)
  }
}
