/**
 * Zoom animations
 */

// zoom-normal
@keyframes zoomNormalIn {
  0% {
    opacity 0
    transform scale3d(.3, .3, .3)
  }

  50% {
    opacity 1
  }
}


@keyframes zoomNormalOut {
  0% {
    opacity 1
  }

  50% {
    opacity 0
    transform scale3d(.3, .3, .3)
  }

  100% {
    opacity 0
  }
}
/********************************************/

// zoom-down
@keyframes zoomDownIn {
  0% {
    opacity 0
    transform scale3d(.1, .1, .1) translate3d(0, -1000px, 0)
    // animation-timing-function cubic-bezier(0.550, 0.055, 0.675, 0.190)
  }

  60% {
    opacity 1
    transform scale3d(.475, .475, .475) translate3d(0, 60px, 0)
    // animation-timing-function cubic-bezier(0.175, 0.885, 0.320, 1)
  }
}

@keyframes zoomDownOut {
  40% {
    opacity 1
    transform scale3d(.475, .475, .475) translate3d(0, -60px, 0)
    animation-timing-function cubic-bezier(0.550, 0.055, 0.675, 0.190)
  }

  100% {
    opacity 0
    transform scale3d(.1, .1, .1) translate3d(0, 2000px, 0)
    transform-origin center bottom
    animation-timing-function cubic-bezier(0.175, 0.885, 0.320, 1)
  }
}

/**************************************************/

// zoom-up

@keyframes zoomUpIn {
  0% {
    opacity 0
    transform scale3d(.1, .1, .1) translate3d(0, 1000px, 0)
    animation-timing-function cubic-bezier(0.550, 0.055, 0.675, 0.190)
  }

  60% {
    opacity 1
    transform scale3d(.475, .475, .475) translate3d(0, -60px, 0)
    animation-timing-function cubic-bezier(0.175, 0.885, 0.320, 1)
  }
}


@keyframes zoomUpOut {
  40% {
    opacity 1
    transform scale3d(.475, .475, .475) translate3d(0, 60px, 0)
    animation-timing-function cubic-bezier(0.550, 0.055, 0.675, 0.190)
  }

  100% {
    opacity 0
    transform scale3d(.1, .1, .1) translate3d(0, -2000px, 0)
    transform-origin center bottom
    animation-timing-function cubic-bezier(0.175, 0.885, 0.320, 1)
  }
}

/*******************************************************/

// zoom-right
@keyframes zoomRightIn {
  0% {
    opacity 0
    transform scale3d(.1, .1, .1) translate3d(1000px, 0, 0)
    animation-timing-function cubic-bezier(0.550, 0.055, 0.675, 0.190)
  }

  60% {
    opacity 1
    transform scale3d(.475, .475, .475) translate3d(-10px, 0, 0)
    animation-timing-function cubic-bezier(0.175, 0.885, 0.320, 1)
  }
}

@keyframes zoomRightOut {
  40% {
    opacity 1
    transform scale3d(.475, .475, .475) translate3d(-42px, 0, 0)
  }

  100% {
    opacity 0
    transform scale(.1) translate3d(2000px, 0, 0)
    transform-origin right center
  }
}

/*******************************************************/

// zoom-left
@keyframes zoomLeftIn {
  0% {
    opacity 0
    transform scale3d(.1, .1, .1) translate3d(-1000px, 0, 0)
    animation-timing-function cubic-bezier(0.550, 0.055, 0.675, 0.190)
  }

  60% {
    opacity 1
    transform scale3d(.475, .475, .475) translate3d(10px, 0, 0)
    animation-timing-function cubic-bezier(0.175, 0.885, 0.320, 1)
  }
}

@keyframes zoomLeftOut {
  40% {
    opacity 1
    transform scale3d(.475, .475, .475) translate3d(42px, 0, 0)
  }

  100% {
    opacity 0
    transform scale(.1) translate3d(-2000px, 0, 0)
    transform-origin left center
  }
}
