<section class="page" layout="column">
  <div layout="row">
    <div flex>
      <md-button class="md-raised md-accent" ng-click="vm.show = !vm.show">
        toggle
      </md-button>
    </div>
    <code-example flex="60" lang="markup">
&lt;button ng-click=&quot;showPic = !showPic&quot;&gt;toggle&lt;/button&gt;
&lt;div ng-show=&quot;showPic&quot;
class=&quot;{{vm.demo_config.animation}} fx-dur-{{vm.demo_config.speed}} fx-ease-{{vm.demo_config.ease}}&quot;&gt;
  &lt;img src=&quot;kermit.jpg&quot; alt=&quot;kermit&quot; /&gt;
&lt;/div&gt;
    </code-example>
    <md-card flex="30" ng-show="vm.show"
    class="{{vm.demo_config.animation}} fx-dur-{{vm.demo_config.speed}} fx-ease-{{vm.demo_config.ease}}">
      <img src="imgs/kermit.jpg" alt="kermit" />
    </md-card>
    <!-- <div flex="30" ng-hide="vm.show"></div> -->
  </div>
</section>
