<!DOCTYPE html>
<html ng-app='app'>
  <head>

    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap-css-only/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset='UTF-8'>
    <title>ng-Animations</title>
  </head>
  <body>
    <div ng-controller='MainController'>
      <div id="wrapper">
        <div id="sidebar-wrapper">
          <h2 class="side-bar-header">Animations</h2>
          <div id='side-bar-scroll'>
            <div ng-repeat='animation in demo.animations' ng-class="{'animation-link': true,'active': animation === demo.mainAnimation}">
              <a href ng-click='demo.addCards(animation)'>{{ animation }}</a>
            </div>
          </div>
          <h2 class="side-bar-header name">Scott Moss</h2>
          <a href="https://github.com/hendrixer/ng-Effects"><img src="assets/GitHub-Mark/PNG/GitHub-Mark-Light-64px.png" /></a>
        </div>
        <div class="container main">
          <main>
            <header class='main-header text-center'>
              <h1>ng-Effects</h1>
            </header>
            <div class="controls row">
              <h3 ng-show='demo.count > 1'class="ef-fade-up col-xs-5 col-xs-offset-3">Animations triggered: {{ demo.count }}</h3>
            </div>
            <div class="cards row">
              <card class='col-xs-6 col-md-1 {{ "ef-"+demo.mainAnimation }}  ef-trigger ef-easing-bounce' ng-repeat='card in demo.cards | filter:search' ng-click='demo.removeCard($index)'title='{{ card.header }}'>
                <div class='card-content'>
                  <small>Animation: {{ card.type }}</small>
                </div>
              </card>
            </div>
          </main>
        </div>
      </div>
    </div>
    <script src="../bower_components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="./main.js"></script>
  </body>
</html>