<!DOCTYPE html>
<html ng-app='app'>
  <head>

    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap-css-only/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset='UTF-8'>
    <title>ng-Animations</title>
  </head>
  <body>
    <div ng-controller='MainController'>
      <div id="wrapper">
        <div id="sidebar-wrapper">
          <h2 class="side-bar-header">Animations</h2>
          <div ng-repeat='animation in demo.animations' ng-class="{'animation-link': true,'active': animation === demo.mainAnimation}">
            <a href ng-click='demo.addCards(animation)'>{{ animation }}</a>
          </div>
        </div>
        <div class="container main">
          <main>
            <header class='main-header text-center'>
              <h1>ng-Animations.js</h1>
              <a href="https://github.com/Hendrixer/ngAnimations.js"><img src="./assets/GitHub-Mark/PNG/GitHub-Mark-32px.png" /></a>
              <i>Animation library for Angular by: <span>Scott Moss</span></i>
            </header>
            <div class="controls row">
              <a href ng-click='demo.clean()'  class="btn btn-lg erase col-xs-2">Erase</a>
              <input ng-show='demo.mainAnimation' ng-model='search' type="text" class="search fade-normal col-xs-4 col-xs-offset-2" placeholder='type to filter'/>
            </div>
            <div class="cards row">
              <card class='col-xs-6 col-md-1 {{ demo.mainAnimation }}' ng-repeat='card in demo.cards | filter:search' ng-click='demo.removeCard($index)'title='{{ card.header }}'>
                <div class='card-content'>
                  <small>Animation: {{ card.type }}</small>
                </div>
              </card>
            </div>
          </main>
        </div>
      </div>
    </div>
    <script src="../bower_components/gsap/src/minified/TweenMax.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="./main.js"></script>
  </body>
</html>