<main style='background-color: #1abc9c;'class='container main'>
  <header class='main-header text-center'>
    <h1 ng-click='demo.shuffle()'>ng-Fx</h1>
  </header>
    <h1>Another view</h1>
    <!-- <div fx-flip='mouseenter dblclick' axis='y' class="con">
      <div id="card">
        <div class="fx-front">
          <h1>hey</h1>
        </div>
        <div class="fx-back">
          <h1>you</h1>
        </div>
      </div>
    </div> -->

    <a href="#/" class="button">home</a>

  <div class="controls row ">
    <h2>options</h2>
    <div class="col-xs-1 options1">
      <a class="btn btn-lrg  btn-green dropdown-toggle">Easings</a>
      <ul class="dropdown-menu">
        <li ng-repeat='ease in demo.easings'>
          <a ng-click='demo.setEase(ease)'class="selects">{{ ease }}</a>
        </li>
      </ul>
    </div>
      <div class="col-xs-1 options2">
        <a class="btn btn-lrg  btn-green dropdown-toggle">Speed</a>
        <ul class="dropdown-menu">
          <li ng-repeat='speed in demo.speeds'>
            <a ng-click='demo.setSpeed(speed)'class="selects">{{ speed }} ms</a>
          </li>
        </ul>
      </div>
  </div>
  <div class="cards row">
    <card class='col-xs-6 col-md-1 {{ "fx-"+demo.mainAnimation }} fx-speed-{{ demo.speed || 500 }} fx-trigger fx-easing-{{ demo.ease }}' ng-repeat='card in demo.cards | filter:search' ng-click='demo.removeCard($index)'title='{{ card.header }}'>
      <div class='card-content'>
        <small>Animation: {{ card.type }}</small>
      </div>
    </card>
  </div>
</main>
